%h1
  = succeed '.' do
    This month's featured charity is
    = @presenter.featured_charity_name

%h2
  We have raised
  = @presenter.money_raised_in_featured_period
  for
  = @presenter.featured_charity_name
  this month.
